################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BasicSyntaxConditionalStatementsAndLoops/.vs
/DataTypesAndVariables/.vs
/Arrays/.vs
/Methods/.vs
/Lists/.vs
/MidExam/.vs
